/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@font-face {
  font-family: 'gilroybold';
  src: url('fonts/gilroybold.eot');
  src: url('fonts/gilroybold.eot') format('embedded-opentype'),
  url('fonts/gilroybold.woff2') format('woff2'),
  url('fonts/gilroybold.woff') format('woff'),
  url('fonts/gilroybold.ttf') format('truetype'),
  url('fonts/gilroybold.svg#gilroybold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'gilroymedium';
  src: url('fonts/gilroymedium.eot');
  src: url('fonts/gilroymedium.eot') format('embedded-opentype'),
  url('fonts/gilroymedium.woff2') format('woff2'),
  url('fonts/gilroymedium.woff') format('woff'),
  url('fonts/gilroymedium.ttf') format('truetype'),
  url('fonts/gilroymedium.svg#gilroymedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

h1, h2 {
  font-family: 'gilroybold', sans-serif;
  font-size: 34px;
  line-height: 41px;
}
p, a {
  font-family: 'gilroymedium', sans-serif;
  font-size: 18px;
  line-height: 21px;
}
body  {
  max-width: 1920px;
  width: 100%;
  color: black;
}
header {
  background: #FFFFFF;
}
.container, .menu_container {
  max-width: 1005px;
  padding: 0 30px;
  margin: 0 auto;
}
.header_content-box {
  padding: 92px 0 105px 0;
  text-align: center;
}
.menu_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 18px;
}
a {
  color: black;
}
.header_menu {
  position: fixed;
  background: #FFFFFF;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 43px;
}
.menu_box_list {
  border-bottom: 1px solid #828282;
}
.header_title {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
  margin-bottom: 31px;
}
.header_title-name {
  font-size: 47.34px;
}
.header_about {
  align-self: flex-end;
}
.header_lang {
  font-size: 16px;
  align-self: center;
  transform: rotate(-90deg) translateY(25px);
}
.ru {
  color: #828282;
}
.photo {
  overflow: hidden;
}
.ab_me {
  background: #F6F6F6;
}
.ab_me-content {
  text-align: center;
  padding: 120px 0 115px;
}
.ab_me-title {
  margin-bottom: 18px;
}
.ab_me-content p {
  margin-bottom: 50px;
}
.ab_me-content p:last-child {
  margin-bottom: 0;
}
.skill {
  background: #FFFFFF;
}
.skill_content {
  padding: 91px 0 110px;
  text-align: center;
}
.skill_title {
  margin-bottom: 84px;
}
.skill_txt {
  margin-bottom: 70px;
}
.skill_program-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
}
.program_img {
  margin-bottom: 25px;
}
.program_name {
  margin-bottom: 41px;
}
.ps,
.ai,
.ae,
.fg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skill_lvl-ps,
.skill_lvl-ai,
.skill_lvl-ae,
.skill_lvl-fg {
  display: flex;
  justify-content: start;
}
.skill_lvl-ps div:last-child,
.skill_lvl-ae div:last-child,
.skill_lvl-fg div:last-child {
  display: none;
}
.skill_lvl-ai div:nth-last-child(-n+2) {
  display: none;
}
.portfolio {
  background: #F6F6F6;
}
.portfolio_content {
  padding: 113px 0 97px;
  text-align: center;
}
.portfolio_title {
  margin-bottom: 47px;
}
.portfolio_img {
  margin-bottom: 45px;
  overflow: hidden;
}
.portfolio_link {
  margin-bottom: 100px;
}
.portfolio_content div:last-child{
  margin-bottom: 0;
}
.portfolio_link a {
  text-decoration: underline black;
  text-decoration-thickness: 1px;
}
.footer {
  background: #FFFFFF;
}
.footer_content {
  padding: 115px 0;
  text-align: center;
}
.footer_title {
  margin-bottom: 21px;
}
.footer_txt {
  margin-bottom: 30px;
}
.ft_btn {
  border-radius: 50px;
  color: white;
  font-family: 'Gilroy', sans-serif;
  background-color: black;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  padding: 13px 28px 7px 28px;
}
.footer_button {
  margin-bottom: 86px;
}
.footer_nav_list {
  display: flex;
  justify-content: center;
  gap: 61px;
}
.footer_nav {
  margin-bottom: 45px;
}
.footer_txt_bottom p {
  font-size: 14px;
  color: #828282;
}